@charset "utf-8";

@mixin fs($fontsize: 16, $lineheight: 26, $base: 16) {
  font-size: $fontsize + px;
  font-size: ($fontsize / $base) * 1rem;
  line-height: ceil($lineheight * 1000 / $fontsize) / 1000;
}

@mixin fs-vw($fontsize: 16, $lineheight: 26, $area-width: 320) {
  font-size: #{($fontsize / $area-width) * 100}vw;
  line-height: ceil($lineheight * 1000 / $fontsize) / 1000;
}

@mixin background-gradient($color_1, $color_2) {
  background: $color_1;
  background: -moz-linear-gradient(left, $color_1 0%, $color_2 100%);
  background: -webkit-linear-gradient(left, $color_1 0%, $color_2 100%);
  background: linear-gradient(to right, $color_1 0%, $color_1 0%, $color_2 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='$color_1', endColorstr='$color_2', GradientType=1);
}

@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
