// min-width
$breakpoint-up: (
  "sm": "screen and (min-width: 481px)",
  "md": "screen and (min-width: 769px)"
) !default;

// max-width
$breakpoint-down: (
  "sm": "screen and (max-width: 480px)",
  "md": "screen and (max-width: 768px)"
) !default;

@mixin mq-up($breakpoint) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

//使用例
// .foo {
//   color: blue;
//   @include mq_up(lg) { // lgより大きい場合
//     color: yellow;
//   }
//   @include mq_down(md) { // mdより小さい場合
//     color: red;
//   }
// }
