<script src="./script.js"></script>
<style scoped src="./style.css"></style>

<template>
  <div class="l-mainContent">
    <h2>エラーページ</h2>
    <p class="p-error">
      {{ message }}({{ statusCode }})
    </p>
  </div>
</template>
