<script src="./script.js"></script>
<style lang="scss" scoped src="./style.scss"></style>

<template>
  <div class="l-mainContent">
    <h1>TOC(目次)ページ</h1>
    vue router の設定値

    <div class="c-tocList">
      <div
        class="c-tocList_item"
        v-for="item in this.$router.options.routes[0].children"
      >
        <router-link
          v-bind:to="{ name: item.name }"
        >
          <span class="c-tocList_item_name">{{ item.name }}</span>
          <span class="c-tocList_item_path">{{ item.path }}</span>
        </router-link>
      </div>
    </div>
  </div>
</template>
