.c-tocList {
  padding: 10px;

  &_item {
    margin-top: 5px;
    border-bottom: 1px solid #ccc;

    &_name {
      display: inline-block;
      width: 200px;
      padding: 2px;
      background-color: #f2f2f2;
    }

    &_path {
      display: inline-block;
      padding: 2px;
    }
  }
}
