<script src="./script.js"></script>
<style lang="scss" scoped src="./style.scss"></style>

<template>
  <div class="l-mainContent">
    <h1>OpenAPIテスト</h1>
    <h2>とりあえず通信</h2>
    <v-btn
      color="primary"
      v-on:click="onTestApi()"
    >
      通信！
    </v-btn>
    <pre>
{{ apires }}
    </pre>
    <h2>通信エラー</h2>
    <v-btn
      color="primary"
      v-on:click="onTestApiError()"
    >
      ないAPIに通信してみる
    </v-btn>
  </div>
</template>
