.l-mainContent {
  padding: 20px;
}

h2 {
  margin: 24px 0 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.c-objTest {
  position: relative;
  width: 100%;
  background-color: #eec;

  &_body {
    height: 200px;
  }
}
