<script src="./script.js"></script>
<style lang="scss" scoped src="./style.scss"></style>

<template>
  <v-app>
    <TheSide></TheSide>
    <TheHeader v-bind:isSide="true"></TheHeader>
    <v-content>
      <div class="l-main-container">
        <router-view></router-view>
        <LoadingPage></LoadingPage>
        <v-footer
          dark
          color="primary"
          class="c-footer"
          absolute
        >
          <span class="c-footer_copy">&copy; company name</span>
        </v-footer>
      </div>
    </v-content>
  </v-app>
</template>
