<script src="./script.js"></script>
<style lang="scss" scoped src="./style.scss"></style>

<template>
  <div class="c-tableSet">
    <v-data-table
      v-model="selected"
      v-bind:total-items="totalItems"
      v-bind:headers="headers"
      v-bind:items="items"
      v-bind:loading="loading"
      v-bind:pagination.sync="innerPagination"
      disable-initial-sort
      hide-actions
      select-all
    >
      <v-progress-linear
        v-slot:progress
        indeterminate
      ></v-progress-linear>
      <template v-slot:items="props">
        <td>
          <v-checkbox
            v-model="props.selected"
            color="primary"
            hide-details
            large
          ></v-checkbox>
        </td>
        <td v-for="header in headers">
          {{ props.item[header.value] }}
        </td>
      </template>
    </v-data-table>
    <div class="c-tableSet_foot">
      <v-btn
        color="accent"
        large
        v-on:click="onDeleteSelected"
        v-bind:disabled="!selected.length"
      >
        選択を削除
      </v-btn>
      <v-pagination
        v-model="innerPagination.page"
        v-bind:length="pages"
      ></v-pagination>
    </div>
  </div>
</template>
