<script src="./script.js"></script>
<style lang="scss" scoped src="./style.scss"></style>

<template>
  <div
    class="c-loadingPage"
    v-show="isLoadingPage"
  >
    <v-progress-circular
      indeterminate
    ></v-progress-circular>
  </div>
</template>
