html {
  font-size: 62.5%;
}

body {
  position: relative;
  width: 100%;
  background-color: #666;
  color: #1a1a1a;
  font-family: "Helvetica Neue", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", "YuGothic", meiryo, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
