.c-loadingObject {
  display: flex;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
