.c-formSet {
  display: flex;
  align-items: flex-start;

  &_label {
    flex-shrink: 0;
    width: 270px;
    padding: 6px 0;
    color: $color_primary;
    font-size: 16px;
    font-weight: bold;
    line-height: 36px;
  }

  &_control {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    max-width: 515px;
  }
}
