<script src="./script.js"></script>
<style lang="scss" scoped src="./style.scss"></style>

<template>
  <v-breadcrumbs
    class="c-breadcrumbs"
    v-bind:items="breadcrumbs"
  >
    <template v-slot:divider>
      <v-icon>chevron_right</v-icon>
    </template>
  </v-breadcrumbs>
</template>
