.v-btn {
  border-radius: 8px;
  box-shadow: none !important;

  &__content {
    font-weight: bold;
  }
}

.v-content__wrap {
  overflow-x: scroll;
}

.v-pagination {
  &__item {
    border: 1px solid #e8e9ec;
    box-shadow: none;
  }

  &--active {
    box-shadow: none;
  }

  &__navigation {
    box-shadow: none;
  }
}

.v-input {
  &--selection-controls {
    &__input {
      .v-icon {
        color: $color_secondary;
        font-size: 30px;
      }
    }
  }
}

.v-text-field {
  margin-top: 6px !important;
}

.v-text-field--box > .v-input__control > .v-input__slot,
.v-text-field--full-width > .v-input__control > .v-input__slot,
.v-text-field--outline > .v-input__control > .v-input__slot {
  min-height: 37px;
}

.v-text-field--box.v-text-field--single-line input,
.v-text-field--full-width.v-text-field--single-line input,
.v-text-field--outline.v-text-field--single-line input {
  margin-top: 1px;
}

.v-text-field.v-text-field--enclosed .v-input__prepend-outer,
.v-text-field.v-text-field--enclosed .v-input__prepend-inner,
.v-text-field.v-text-field--enclosed .v-input__append-inner,
.v-text-field.v-text-field--enclosed .v-input__append-outer {
  margin-top: 6px;
}

.theme--light.v-text-field--outline > .v-input__control > .v-input__slot {
  border: 1px solid $color_secondary;
}

.theme--light.v-text-field--outline:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot:hover {
  border: 1px solid $color_primary;
}

table.v-table thead tr {
  height: auto;
}

.theme--light.v-table tbody tr {
  border-bottom: 1px solid $color_secondary !important;
}

.theme--light.v-table thead th {
  background-color: $color_primary;
  color: #fff;
}

.theme--light.v-datatable thead th.column.sortable.active {
  color: rgba(255, 255, 255, 0.87);
}

.theme--light.v-datatable thead th.column.sortable:hover {
  color: rgba(255, 255, 255, 0.87);
}

.theme--light.v-datatable thead th.column.sortable.active .v-icon {
  color: rgba(255, 255, 255, 0.87);
}

table.v-table thead td:not(:nth-child(1)),
table.v-table tbody td:not(:nth-child(1)),
table.v-table thead th:not(:nth-child(1)),
table.v-table tbody th:not(:nth-child(1)),
table.v-table thead td:first-child,
table.v-table tbody td:first-child,
table.v-table thead th:first-child,
table.v-table tbody th:first-child {
  height: auto;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}

.theme--light.v-table thead tr.v-datatable__progress th {
  background-color: #fff !important;
}

.v-datatable__progress th .v-progress-linear {
  height: 5px !important;
}
