<script src="./script.js"></script>
<style lang="scss" scoped src="./style.scss"></style>

<template>
  <v-toolbar
    class="c-header"
    height="50"
    color="primary"
    v-bind:clipped-left="true"
    dark
    app
    fixed
  >
    <v-toolbar-title class="ml-0 pl-3">
      <v-toolbar-side-icon
        v-if="isSide"
        v-on:click.stop="sideBar.mini = !sideBar.mini"
      ></v-toolbar-side-icon>
      <router-link
        v-bind:to="{ name: 'PageTOC' }"
        class="c-header_logo"
      >
        <img
          v-bind:src="imgLogo"
        >
      </router-link>
      <span class="hidden-sm-and-down">Title Name</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn icon>
      <v-icon>apps</v-icon>
    </v-btn>
    <v-btn icon>
      <v-icon>notifications</v-icon>
    </v-btn>
    <v-btn
      icon
      large
    >
      <v-avatar
        size="32px"
        tile
      >
        <img
          v-bind:src="imgLogo"
          alt="Vuetify"
        >
      </v-avatar>
    </v-btn>
  </v-toolbar>
</template>
