<script src="./script.js"></script>
<style lang="scss" scoped src="./style.scss"></style>

<template>
  <div class="l-main-content">
    <TheBreadcrumbs
      v-bind:breadcrumbs="breadcrumbs"
    ></TheBreadcrumbs>
    <div class="c-panel">
      <h1 class="c-panelTitle">
        <v-icon
          medium
          color="primary"
        >
          $vuetify.icons.header-default
        </v-icon>
        お知らせ一覧
      </h1>

      <v-form
        class="c-form"
      >
        <div class="c-formSet">
          <div class="c-formSet_label">
            お知らせ検索
          </div>
          <div class="c-formSet_control">
            <v-text-field
              single-line
              outline
              placeholder="検索ワードを入力"
              prepend-inner-icon="search"
            ></v-text-field>
            <v-btn
              color="primary"
            >
              検索
            </v-btn>
          </div>
        </div>

        <div class="c-formSet">
          <div class="c-formSet_label">
            企業を選択
          </div>
          <div class="c-formSet_control">
            <v-select
              single-line
              outline
              hide-details
              placeholder="企業を選択"
              v-bind:items="companies"
            ></v-select>
          </div>
        </div>
      </v-form>
    </div>
    <DataTable
      v-bind:loading="list.loading"
      v-bind:headers="list.headers"
      v-bind:items="list.items"
      v-bind:totalItems="list.totalItems"
      v-bind:rowsPerPage="list.rowsPerPage"
      v-on:onPagination="onPagination"
    >
    </DataTable>
  </div>
</template>
