.l-main-container {
  position: relative;
  min-width: 832px;
  min-height: calc(100vh - 50px);
  padding: 16px 16px 80px 16px !important;
  background-color: #f8fcff;
}

.l-main-content {
  text-align: left;
}
