<template>
  <v-app>
    <div id="app">
      <AlertScreen></AlertScreen>
      <router-view></router-view>
      <LoadingScreen></LoadingScreen>
      <DialogScreen></DialogScreen>
    </div>
  </v-app>
</template>

<script>
import AlertScreen from '@/components/common/AlertScreen/AlertScreen'
import LoadingScreen from '@/components/common/LoadingScreen/LoadingScreen'
import DialogScreen from '@/components/common/DialogScreen/DialogScreen'

export default {
  name: 'App',
  components: {
    AlertScreen,
    LoadingScreen,
    DialogScreen
  }
}
</script>
