.l-page {
  width: 100%;
  background-color: #eee;
}

.l-header {
  background-color: #ddd;
}

.l-footer {
  background-color: #ddd;
}

.l-body {
  display: flex;
  justify-content: center;
  min-width: 1000px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.l-main {
  position: relative;
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}

.l-side {
  flex-shrink: 0;
  width: 100px;
  background-color: #ddd;
}
