.c-loadingScreen {
  display: flex;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}
