<script src="./script.js"></script>
<style lang="scss" scoped src="./style.scss"></style>

<template>
  <div class="l-mainContent">
    <h1>buildin global action & tips</h1>
    <h2>画面全体のローディング（2秒）</h2>
    <v-btn
      color="primary"
      v-on:click="onTestScreenLoading()"
    >
      Loading Start
    </v-btn>

    <h2>mainエリアのローディング（2秒）</h2>
    <v-btn
      color="primary"
      v-on:click="onTestPageLoading()"
    >
      Loading Start
    </v-btn>

    <h2>partsエリア内のローディング（2秒）</h2>
    <div class="c-objTest">
      <div class="c-objTest_body">
        パーツ
      </div>
      <v-btn
        color="primary"
        v-on:click="onTestObjectLoading()"
      >
        Loading Start
      </v-btn>
      <LoadingObject
        v-show="isLoadingObjectA"
      ></LoadingObject>
    </div>

    <h2>ボタンのローディング（2秒）</h2>
    <v-btn
      v-bind:loading="btnLoading"
      v-bind:disabled="btnLoading"
      color="primary"
      v-on:click="btnLoader = 'btnLoading'"
    >
      Loading Start
    </v-btn>

    <h2>Alert表示</h2>
    <v-btn
      color="success"
      v-on:click="onTestAddAlert('成功です！', 'success', 0)"
    >
      Success追加
    </v-btn>
    <v-btn
      color="error"
      v-on:click="onTestAddAlert('エラーが発生しました！', 'error', 0)"
    >
      Error追加
    </v-btn>
    <v-btn
      color="info"
      v-on:click="onTestAddAlert('処理が終わりましたよ！', 'info', 2)"
    >
      info追加(2sで自動close)
    </v-btn>

    <h2>Dialog表示</h2>
    <v-btn
      color="primary"
      v-on:click="onTestDialog1()"
    >
      modoless: ok
    </v-btn>
    <v-btn
      color="primary"
      v-on:click="onTestDialog2()"
    >
      modal: cancel+ok
    </v-btn>

    <h2>Common Error Page</h2>
    <v-btn
      color="primary"
      v-on:click="onTestErrorPage('エラーメッセージ')"
    >
      Trigger Error!
    </v-btn>

    <h2>動的 background-image</h2>
    <div
      class="c-bgTest"
      v-bind:style="styleBgImage"
    >
      ここに背景画像が表示されます。
    </div>
    <v-btn
      color="primary"
      v-on:click="onTestChangeBg(1)"
    >
      画像1(import base64)
    </v-btn>
    <v-btn
      color="primary"
      v-on:click="onTestChangeBg(2)"
    >
      画像2(static)
    </v-btn>

    <h2>global mixin test(responsive)</h2>
    <div class="c-reponsiveTest">
      ブラウザサイズが md 以下になると色が変わります。
    </div>
  </div>
</template>
