.l-mainContent {
  padding: 20px;
}

h2 {
  margin: 24px 0 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.c-objTest {
  position: relative;
  width: 100%;
  background-color: #eec;

  &_body {
    height: 200px;
  }
}

.c-bgTest {
  height: 100px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  background-repeat: repeat;
}

.c-reponsiveTest {
  height: 100px;

  @include mq_down(md) {
    background-color: #f200f2;
  }
}
