<script src="./script.js"></script>
<style lang="scss" scoped src="./style.scss"></style>

<template>
  <v-dialog
    v-model="isDisplay"
    width="500"
    v-bind:persistent="dialog.modal"
    transition="slide-y-transition"
  >
    <v-card>
      <v-card-title
        v-if="dialog.title"
        class="headline grey lighten-2"
        primary-title
      >
        {{ dialog.title }}
      </v-card-title>

      <v-card-text>
        {{ dialog.message }}
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          v-if="dialog.buttonCancel"
          flat
          v-on:click="onClickCancel"
        >
          {{ dialog.buttonCancel }}
        </v-btn>
        <v-btn
          v-if="dialog.buttonCommit"
          color="primary"
          flat
          v-on:click="onClickCommit"
        >
          {{ dialog.buttonCommit }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
