<script src="./script.js"></script>
<style lang="scss" scoped src="./style.scss"></style>

<template>
  <div
    class="p-alertScreen"
  >
    <v-alert
      v-for="item in items"
      v-bind:value="item.display"
      dismissible
      v-bind:type="item.type"
      transition="slide-y-transition"
      v-bind:key="item.id"
    >
      {{ item.message }}
    </v-alert>
  </div>
</template>
